.mob-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 480px;
}

.mob-menu.is-hidden {
	display: none;
}

.mob-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	padding: 10px 15px 48px 40px;

	background-color: var(--second-color);

	>.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: auto;

		padding-left: 0;
		padding-right: 0;
	}

	@include tablet {
		display: none;
	}
	
	}
.menu-list {
	margin-top: 48px;
}

.menu-list__item .link {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.175;
	letter-spacing: 0.02em;

	color: var(--accent-color-black);
}

.menu-list__item {
	display: block;

	:hover,
	:focus {
		color: var(--accent-color);
	}
}

.menu-list__item:not(:last-child) {
	margin-bottom: 30px;
}

.menu-open {
	display: block;
	border: none;
	background-color: transparent;

	:hover,
	:focus {
		fill: var(--accent-color);
	}

	@include tablet {
		display: none;
	}
}

.menu-close {
	display: block;
	position: absolute;
	margin-left: auto;

	border: none;
	background-color: transparent;
	padding: 0;
	top: 10px;
	right: 15px;

	:hover,
	:focus {
		fill: var(--accent-color);
	}
}

.menu-contact__tel {
	display: block;
	margin-bottom: 32px;
	font-weight: 500;
	font-size: 34px;
	line-height: 1.176;
	letter-spacing: 0.02em;
	color: #2196F3;
}

.menu-email__link {
	display: block;
	margin-bottom: 64px;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.167;
	letter-spacing: 0.02em;

	color: var(--primary-text-color);
}

.mob-soc {
	display: flex;
	gap: 20px;
}

.mob-soc__item {
	position: relative;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	letter-spacing: 0.02em;

	color: var(--accent-color);
}

.mob-soc__item::after {
	content: '';
	margin-left: 10px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	transform: rotate(90deg);
}