.clients-container {
	@include mobile {
		max-width: 100%;
	}

	@include tablet {
		max-width: 738px;
	}

	@include desktop {
		max-width: 1200px;
	}
}

.clients-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	&__item {
		display: flex;
		width: calc((100% - 30px) / 2);

		border-radius: 4px;
		transition: border 2500ms cubic-bezier(0.4, 0, 0.2, 1);

		@include tablet {
			width: calc((100% - 60px) / 3);
		}

		@include desktop {
			width: calc((100% - 150px) / 6);
		}
	}
}

.clients__link {
	display: flex;
	height: 92px;
	width: 100%;

	align-items: center;
	justify-content: center;

	border: 1px solid #afb1b8;
	border-radius: 4px;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border: 1px solid var(--accent-color);
	}
}

.clients__icon {
	fill: #afb1b8;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.clients__link:hover &,
	.clients__link:focus & {
		fill: var(--accent-color);
	}
}